<section class="icons">
    <div class="container">
        <div class="content">
            <a href="" target="_blank">
                <i class="fab fa-facebook "></i>
            </a>
            <a href="" target="_blank">
                <i class="fab fa-instagram "></i>
            </a>
            <a href="" target="_blank">
                <i class="fab fa-twitter "></i>
            </a>
            <a href="" target="_blank">
                <i class="fab fa-github "></i>
            </a>
            <a href="" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>

        </div>
    </div>
</section>


</body>
<footer class="footer">
    Copyright &copy; <a style="color: purple;" href="http://" >Mithun Reddy</a>
</footer>
</html>