<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Mithun Reddy
    </title>
    <link rel="stylesheet" href="/public/css/default.css" />
    <script src="https://kit.fontawesome.com/e7200de850.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="header">
        <div class="container">
            <div class="content">
                <a href="">
                    <div class="name">Mithun Reddy</div>
                </a>
    
                <nav>
                    <ul>
    
                        <li class="nav-blog"><a href="/blog"><span>Blog</span></a></li>
    
                        <li class="nav-about"><a href="/about"><span>About</span></a></li>
    
                        <li class="nav-projects"><a href="/contact"><span>Contact</span></a></li>
    
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    

