<link rel="stylesheet" href="/public/css/about.css">

<%- include("partials/header"); -%>
<section class="main">
    <div class="container">
        <div class="content">
            <div class="page-heading">

                About

            </div>

            <div class="markdown">
                <p><span>Hey Hi!</span> My name is Mithun Reddy. I was born and raised in Hyderabad. I'm pursuing my B.tech degree in computer science
                from ICFAI Foundation For Higher Education and am really excited about the prospect of this position. I have interned
                with a few mid-size companies and was able to work closely with their mobile and web developers. I also have a lot of
                experience with online code repositories, and I love to contribute as much as I can.</p>
                <br>
                <p>Feel free to see my  <a href="http://">resume</a> / <a href="http://">resume (.pdf)</a></p>
            </div>
        </div>
    </div>
</section>


<%- include("partials/footer"); -%>