

<link rel="stylesheet" href="/public/css/index.css">


<link rel="stylesheet" href="/public/css/default.css">

<%- include("partials/header"); -%>

    <h2>
    <%= title %>
        </h2>
        <p>
            <%= content %>
        </p>


    <%- include("partials/footer"); -%>